on:
  push:
  pull_request:
name: Test
jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - 1.23.x
          - 1.x
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install cgo dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsystemd-dev
      - name: Test
        run: go test -coverprofile=coverage.txt -covermode=atomic ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
